
{% for home_banner in home_banner %}
<div class="home-banner">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap -mx-2">
            <!-- First Column: Half width on medium screens, full width on small screens -->
            <div class="w-full md:w-1/2 p-2">
                <div class="banner-box">
                    <a href="#">
                        <img src="{{home_banner.img1.url}}" alt="" class="w-full h-auto">
                    </a>
                </div>
            </div>
            <!-- Second Column: One-quarter width on medium screens, full width on small screens -->
            <div class="w-full md:w-1/4 p-2">
                <div class="banner-box">
                    <a href="#">
                        <img src="{{home_banner.img2.url}}" alt="" class="w-full h-auto">
                    </a>
                </div>
            </div>
            <!-- Third Column: One-quarter width on medium screens, full width on small screens -->
            <div class="w-full md:w-1/4 p-2">
                <div class="banner-box">
                    <a href="#">
                        <img src="{{home_banner.img3.url}}" alt="" class="w-full h-auto">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}